<template>
  <div>
    <b-row>
      <b-col class="pr-2">
        <span>Отдадите</span>
        <multiselect
          class="mt-1"
          v-model="selectGive.value"
          :options="selectGive.options"
          placeholder
          :multiple="false"
          :searchable="false"
          :show-labels="false"
        ></multiselect>
      </b-col>
      <b-col class="pl-2">
        <span>Получите</span>
        <multiselect
          class="mt-1"
          v-model="selectTake.value"
          :options="selectTake.options"
          placeholder
          :multiple="false"
          :searchable="false"
          :show-labels="false"
        ></multiselect>
      </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col lg="12">
        <b-button block class="selects_searching__button">Найти лучший курс</b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
  components: { Multiselect },
  data: () => ({
    selectGive: {
      value: 'Не выбрано',
      options: [
        'Не выбрано',
        'Электронные деньги',
        'Коды криптобирж',
        'Интернет-банкинг',
        'Денежные переводы',
        'Наличные деньги',
      ],
    },
    selectTake: {
      value: 'Не выбрано',
      options: [
        'Не выбрано',
        'Электронные деньги',
        'Коды криптобирж',
        'Интернет-банкинг',
        'Денежные переводы',
        'Наличные деньги',
      ],
    },
  }),
}
</script>