.selects_searching__button{
    background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
    border:none;
    &:hover{
        opacity: 0.8;
    }
}
.multiselect__option--highlight{
    background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
}
.multiselect__option--selected{
    background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);

}
.multiselect__option--selected.multiselect__option--highlight{
    background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
}
.multiselect {
    font-size: 14px;
    white-space: nowrap;
    word-break: normal;
}
.multiselect, .multiselect__input, .multiselect__single{
    font-size: 14px;
    white-space: nowrap;
    word-break: normal;
}

.multiselect__single {
    text-overflow: ellipsis;
    overflow: hidden;
}