<template>
  <header class="py-6 main-header d-flex align-items-center" :class="{'fixed-top': fixed}">
    <b-container>
        <b-row>
            <b-col cols="4" v-if="logotype">
                <div class="py-2 header-logo">
                    <img :src="logotype" alt="">
                </div>
            </b-col>
            <b-col :cols="logotype ? 8 : 12" class="d-flex align-items-center justify-content-end">
                <nav class="header-menu">
                    <nuxt-link v-for="(item, i) in menuLinks" :key="i" :to="item.link" class="header-menu__item">
                        <span>{{item.name}}</span>
                    </nuxt-link>
                </nav>
            </b-col>
        </b-row>
    </b-container>
  </header>
</template>

<script>
import {logotype, menuLinks, settingsTemplate} from "@/theme-settings/header"
export default {
    data: () => ({
        logotype,
        menuLinks,
        settingsTemplate
    }),
    computed: {
        fixed() {
            return this.settingsTemplate && this.settingsTemplate.fixed
        }
    }
}
</script>