.tabs-head {
    width: 100%;
    background:#353A3C;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    &.desktop {
        @media (min-width: 769px) {
            display: flex;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &.mobile {
        @media (min-width: 769px) {
            display: none;
        }
        @media (max-width: 768px) {
            display: flex;
        }
    }
}

.tabs-head__item {
    display: inline-block;
    color: #fff;
    opacity: .5;
    padding: 10px;
    &:hover {
        color: #fff;
        opacity: .8;
        text-decoration: none;
    }
    &.active {
        opacity: 1;
    }
}