<template>
    <section v-if="isVisible">
        <slot></slot>
    </section>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                default: null,
                required: true
            },
            active: {
                type: Boolean,
                default: false
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                isVisible: this.active,
            }
        },
        watch: {
            isVisible: function () {
                if(this.isVisible)
                    this.$emit('selected');
            }
        },
        computed: {
            id() {
                return this.name.toLowerCase().replace(/ /g, '-');
            }
        }
    }
</script>
