<template>
    <div>
        <div class="tabs-head mobile">
            <select v-model="mobileTab" class="form-select" @change="setActive(mobileTab)">
                <option :value="tab" v-for="(tab, i) in tabs" :key="i" :disabled="tab.disabled">{{ tab.name }}</option>
            </select>
        </div>

        <div class="tabs-head desktop">
            <div class="">
                <nav class="">
                    <a
                        href="#"
                        class="tabs-head__item"
                        :class="{ 'active' : tab.isVisible, 'cursor-not-allowed' : tab.disabled }"
                        v-for="(tab, i) in tabs" :key="i"
                        @click.prevent="setActive(tab)"
                    >
                        {{ tab.name }}
                    </a>
                </nav>
            </div>
        </div>

        <slot name="tab">
            <slot></slot>
        </slot>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tabs: [],
                mobileTab: null
            }
        },

        mounted() {
            this.tabs.forEach(tab => {
                if (tab.isVisible) {
                    this.mobileTab = tab;
                }
            })
        },

        created() {
            this.tabs = this.$children;
        },

        methods: {
            setActive(tab) {
                if (tab.disabled) {
                    return;
                }

                this.tabs.map(t => {
                    tab.id === t.id ? tab.isVisible = true : t.isVisible = false;
                });
            }
        }
    }
</script>
