.destinations__scroll{
    max-height: 250px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 10px;
      }
       
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 10px;
      }
       
      &::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
        outline: 1px solid slategrey; border-radius: 10px;
      }
}
.destinations_row{
    border-radius: 3px;
    transition: .3s;
    padding-right: 5px;
    .destinations__banks{
        svg{
            fill:#F19202;
        }
    }
    &:hover{
        padding-left: 5px;
        background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
        cursor: pointer;
        .destinations__banks{
            svg{
                fill:#fff;
            }
        }
        span{
            color:#fff;
        }
    }
}
.status-positive, .status-negative{
    svg{
        width: 12px;
        margin-top:-3px;
    }
}
.status-positive{
    color:green;
    svg{
        fill:green;
    }
}

.status-negative{
    color:red;
    svg{
        transform: rotate(180deg);
        fill:red;
    }
}