<template>
  <div>
    <b-row>
      <b-col lg="12" class="text-center">
        <span class="destinations__title">Популярные направления</span>
      </b-col>
    </b-row>
    <div class="destinations__scroll mt-3 pr-1">
      <div
        class="destinations_row mb-1 d-flex justify-content-between"
        v-for="(item) in destinations"
        :key="item.currency"
      >
        <div class="destinations__banks">
          <span>{{item.currency}}</span>
          <svg
            style="width:10px;margin-top:-3px;"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M16.172 9l-6.071-6.071 1.414-1.414L20 10l-.707.707-7.778 7.778-1.414-1.414L16.172 11H0V9z"
            />
          </svg>
          <span>{{item.bank}}</span>
        </div>
        <div
          class="destinations__values text-right"
          :class="[{'status-positive': item.status}, {'status-negative': !item.status}]"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z" />
          </svg>
          {{item.value}}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    selected: '',
    destinations: [
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: false,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: false,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: false,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
      {
        currency: 'BitCoin (BTC)',
        bank: 'Сбербанк',
        value: '8.96%',
        status: true,
      },
    ],
  }),
}
</script>


<style lang="scss">
@import './pop-destinations.scss';
</style>