<template>
  <div class="table__body">
    <b-row v-for="(row, iRow) in items" :key="iRow" class="custom-table__row">
      <b-col
        v-for="(col, key, iCol) in row"
        :key="iCol"
        :class="[
              'custom-table__col',
              {'left': col.side === 'left'}, 
              {'right': col.side === 'right'}
            ]"
        :cols="col.colWidth"
      >
        <!-- For list -->
        <template v-if="col.render && Array.isArray(col.render)">
          <div
            v-for="(cell, iCell) in col.render"
            :key="iCell"
            class="custom-table__cell"
            :style="`height: calc(100% / ${col.render.length})`"
            v-html="cell"
          ></div>
        </template>

        <!-- For checkbox -->
        <template v-else-if="col.checkbox != null">
          <div class="custom-table__cell full-height">
            <b-form-checkbox v-model="col.checkbox" />
          </div>
        </template>

        <!-- For import component -->
        <template v-else-if="col.component">
          <v-table-col-comp 
            :nameComponent="col.component" 
            :index="iRow" 
            :title="col.title"
            :link="col.link"
            :rating="col.rating"
            class="custom-table__cell full-height" />
        </template>

        <!-- For just render -->
        <template v-else>
          <a 
            v-if="col.link && col.blank"
            class="custom-table__cell full-height"
            :href="col.link" 
            target="_blank" 
            v-html="col.render"
          ></a>
          <nuxt-link
            v-else-if="col.link"
            class="custom-table__cell full-height"
            :to="col.link"
            v-html="col.render"
          ></nuxt-link>
          <div v-else class="custom-table__cell full-height" v-html="col.render"></div>
        </template>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import VTableColComp from "@/components/table/elements/column-dynamic-component"
export default {
    components: {
        VTableColComp
    },
    props: {
        items: {
            type: Array,
            default: () => []
        }
    }
}
</script>