<template>
  <div>
    <component :is="nameComponent" v-if="nameComponent" :id="`tooltip-target-${index}`" />
    <b-tooltip :target="`tooltip-target-${index}`" triggers="hover" placement="rightbottom">
      <div class="d-flex">
        <a :href="link" target="_blank" class="tooltip-title">{{title}}</a>
        <ul v-if="rating" class="table__rating">
          <li v-for="rate in rating" :key="rate">
            <v-icon-star />
          </li>
        </ul>
      </div>
      <ul class="table__tooltip-list">
        <li v-for="(item, i) in tooltipList" :key="i">
          <span>{{item.name}}:</span>
          <span>{{item.value}}</span>
        </li>
      </ul>
    </b-tooltip>
  </div>
</template>

<script>
export default {
  components: {
    VIconStar: () => import('@/components/svg/star.vue'),
    VIconInfo: () => import('@/components/svg/info.vue'),
  },
  props: {
    nameComponent: {
      type: String,
      default: '',
    },
    index: {
      type: Number,
      default: 0,
    },
    title: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '',
    },
    rating: {
      type: Number,
      default: 0
    }
  },
  computed: {
    tooltipList() {
      return [
        {
          name: 'Web money BL',
          value: '-',
        },
        {
          name: 'Perfect money TS',
          value: '-',
        },
        {
          name: 'Сумма резервов',
          value: '24 999 100$',
        },
        {
          name: 'Возраст',
          value: '1 год 2 месяца',
        },
        {
          name: 'Страна',
          value: 'Испания',
        },
      ]
    },
  },
}
</script>