<template>
  <div class="table__head">
    <b-row class="custom-table__row full-height">
      <!-- Custom headers list -->
      <b-col
        v-show="customHeaders.length > 0"
        v-for="(col, iCol) in customHeaders"
        :key="iCol"
        :cols="col.colWidth"
        class="col"
      >
        <!-- With group -->
        <b-row v-if="col.groupName">
          <b-col>
            <div class="custom-table__cell" v-html="col.groupName"></div>
            <b-row>
              <b-col
                v-for="(groupCol, iGroupCol) in col.items"
                :key="iGroupCol"
                class="full-height col"
                :cols="groupCol.colWidth"
              >
                <div class="custom-table__cell full-height" v-html="groupCol.name"></div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <!-- Without group -->
        <b-row v-else class="full-height">
          <b-col>
            <div class="custom-table__cell full-height" v-html="col.name"></div>
          </b-col>
        </b-row>
      </b-col>

      <!-- Default headers -->
      <b-col
        v-show="customHeaders.length === 0"
        v-for="(col, iCol) in items[0]"
        :key="iCol"
        class="custom-table__col"
        :cols="col.colWidth"
      >
        <div class="custom-table__cell full-height" v-html="col.nameColumn"></div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
    props: {
        customHeaders: {
            type: Array,
            default: () => []
        },
        items: {
            type: Array,
            default: () => []
        },
    }
}
</script>