<template>
  <div>
    <v-apex-chart type="pie" width="500" :options="options" :series="series"></v-apex-chart>
  </div>
</template>

<script>
export default {
  data: () => ({
    series: [44, 55, 13, 43, 22],
    options: {
      labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
      responsive: [
        {
          breakpoint: 480,
          options: {
            chart: {
              width: 200,
            },
            legend: {
              position: 'bottom'
            }
          }
        }
      ]
    }
  })
}
</script>