<template>
  <div :class="[`embed-responsive embed-responsive-${format}`]">
    <iframe class="embed-responsive-item" :src="src" allowfullscreen></iframe>
  </div>
</template>

<script>
const formats = ['1by1', '4by1', '16by9', '21by9']
export default {
  props: {
    src: {
      type: String,
      default: '',
    },
    format: {
      type: String,
      default: formats[2],
      validator: (value) => {
        if (!value) return formats[2]
        return formats.includes(value)
      }
    }
  },
}
</script>