<template>
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 0.333313C3.318 0.333313 0.333328 3.31865 0.333328 6.99998C0.333328 10.6813 3.318 13.6666 7 13.6666C10.682 13.6666 13.6667 10.682 13.6667 6.99998C13.6667 3.31798 10.682 0.333313 7 0.333313ZM7.66666 10.664C7.66666 10.8493 7.52399 11 7.33 11H6.67C6.48399 11 6.33333 10.8453 6.33333 10.664V6.66865C6.33333 6.48398 6.476 6.33331 6.67 6.33331H7.33C7.51533 6.33331 7.66666 6.48865 7.66666 6.66865V10.664ZM7 5.00065C6.44399 5.00065 6 4.55265 6 4.00065C6 3.44465 6.448 3.00065 7 3.00065C7.55599 3.00065 8 3.44798 8 4.00065C8 4.55665 7.552 5.00065 7 5.00065Z" fill="#9EA3A4"/>
    </svg>
</template>