<template>
  <div class="exchangers_nav">
    <b-row>
      <b-col>
        <b-form-group label="Отдадите">
          <b-form-radio
            v-for="(item, index) in radiobuttonsGive"
            :key="index"
            v-model="selected"
            name="some-radios"
          >{{item.selects}}</b-form-radio>
        </b-form-group>
      </b-col>
      <b-col> 
        <b-form-group label="Получите">
          <b-form-radio
            v-for="(item, index) in radiobuttonsTake"
            :key="index"
            v-model="selected2"
            name="some-radios2"
          >{{item.selects}}</b-form-radio>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="6" class="pr-0 pl-1">
        <div class="exchengers__scrolling">
          <ul class="exchengers-currency m-0">
            <li class="mt-1" v-for="(item, index) in currencys" :key="index">{{item.currency}}</li>
          </ul>
        </div>
      </b-col>
      <b-col cols="6" class="pl-1">
        <div class="exchengers__scrolling">
          <ul class="exchengers-currency m-0">
            <li class="mt-1" v-for="(item, index) in currencys" :key="index">{{item.currency}}</li>
          </ul>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  data: () => ({
    selected2: '',
    selected: '',
    radiobuttonsGive: [
      {
        selects: 'Электронные деньги',
      },
      {
        selects: 'Коды криптобирж',
      },
      {
        selects: 'Интернет-банкинг',
      },
      {
        selects: 'Денежные переводы',
      },
      {
        selects: 'Наличные деньги',
      },
    ],
    radiobuttonsTake: [
      {
        selects: 'Электронные деньги',
      },
      {
        selects: 'Коды криптобирж',
      },
      {
        selects: 'Интернет-банкинг',
      },
      {
        selects: 'Денежные переводы',
      },
      {
        selects: 'Наличные деньги',
      },
    ],
    currencys: [
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin Cash',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin Cash',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin Cash',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin Cash',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin Cash',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin',
      },
      {
        currency: 'BitCoin Cash',
      },
      {
        currency: 'BitCoin',
      },
    ],
  }),
}
</script>