.exchangers_nav{
    b-form-radio{
        font-size: 11px;
    }
}
.exchengers__scrolling{
    padding-right: 5px;
    max-height: 250px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
    outline: 1px solid slategrey; border-radius: 10px;
    }
}
.exchengers-currency{
    list-style-type: none;
    list-style: none;
    padding-left:0;
    li{
        border-radius: 3px;    
        padding-left: 10px;
        &:hover{
            background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
            color:#fff;
            cursor: pointer;
            
        }
    }
    
}
