
.custom-table {
  overflow: hidden;
  border-radius: 5px;

  .table__head {

    .row {
      margin: 0;

      // .col {
      //   margin: 0;
      //   padding: 0;
      // }
    }

    .custom-table__row {
      background-color: var(color-primary-lighten);
    }

    .custom-table__cell {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      display: flex;
      align-items: baseline;
    }
  }
}

.custom-table__row {
  margin-left: 0;
  margin-right: 0;
  &:nth-child(odd) {
    background-color: #F6F8FC;
  }
  &:nth-child(even) {
    background-color: #fdfdfd;
  }
}

.table__body {
  .custom-table__row {
    &:hover {
      background-color: #dee3ec;
    }
  }
}

.custom-table__col {
  padding: 0;
}

.custom-table__cell {
  padding: 8px;
  // border: 1px solid #e8eef9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #000;
  &:hover {
    color: #000;
  }
}

.custom-table__cell.full-height {
  height: 100%;
}

.table__body {
  .custom-table__col {
    &.left {
      .custom-table__cell {
        justify-content: flex-start;
        flex-direction: row;
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

.table__tooltip-list {
  padding: 6px;
  margin: 0;
  background-color: #fff;
  border-radius: 6px;
  li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #000;
    &:nth-child(odd) {
      background-color: #F6F8FC;
    }
    & > * {
      display: inline-block;
      text-align: left;
      &:first-child {
        padding-right: 10px;
      }
    }
  }
}
.tooltip.b-tooltip {
  opacity: 1;
}
.tooltip-inner {
  max-width: 300px;
  background-color: #353a3c;
  padding: 5px;
  border-radius: 8px;
  .tooltip-title {
    display: block;
    text-align: left;
    margin: 2px 6px 4px;
    color: #fff;
  }
}
.bs-tooltip-right .arrow::before {
  border-right-color: #353a3c;
}
.table__tooltip-list {
  width: 250px;
}
.currency {
  color: #888888;
  font-size: 12px;
  margin-left: 4px;
  margin-top: 2px;
}

.table__rating {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  svg {
    width: 16px;
    height: 12px;
  }
}