<template>
  <div>
    <div class="custom-table" v-if="items.length">
      <v-head :customHeaders="customHeaders" :items="items"  />
      <v-body :items="items"  />
    </div>
    <div class="custom-table" v-else>
      <div class="table__body">
        <b-row class="custom-table__row">
          <b-col class="custom-table__col" :cols="12">
            <div class="custom-table__cell">
              {{ notFoundMessage }}...
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
  
  import VHead from "@/components/table/elements/head"
  import VBody from "@/components/table/elements/body"

  export default {
    components: {
      VHead,
      VBody
    },
    props: {
      items: {
        type: Array,
        default: () => []
      },
      customHeaders: {
        type: Array,
        default: () => []
      },
      notFoundMessage: {
        type: String,
        default: 'Записи не найдены'
      }
    }
  }
</script>