// Подключение шрифтов 
@font-face {
    font-family: 'Lato-Regular'; /* Имя шрифта */
    src: url('/fonts/lato/Lato-Regular.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Lato-Semibold'; /* Имя шрифта */
    src: url('/fonts/lato/Lato-Semibold.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Lato-Heavy'; /* Имя шрифта */
    src: url('/fonts/lato/Lato-Heavy.ttf'); /* Путь к файлу со шрифтом */
}