$primaryColor: 'linear-gradient(90deg, #E6B300 0%, #F19202 100%)';
$secondaryColor: '#343434';
$greyColor: '#F7F7F7';
$lightGreyColor: '#F8F8F8';

// $colorPrimary: #4185F7;
// $colorGrey: #EEF0F3;
// $colorLightGrey: #F6F8FC;
// $colorFontGrey: #a7aaae;
// $colorDark: #383E48;
// $colorSuccess: #2EA77B;
// $colorError: #E40000;

:root {
    // Main
    --color-primary: #E6B300;
    --colorGrey: #EEF0F3;
    --colorLightGrey: #F6F8FC;
    --colorFontGrey: #a7aaae;
    --colorDark: #383E48;
    --colorSuccess: #2EA77B;
    --colorError: #E40000;

    // Lighten
    --color-primary-lighten: lighten(#E6B300, 35);

    // Darken
}