.main-header {
    background: #343434;
    min-height: 72px;
}
.header-menu__item {
    color: #fff;
    padding: 10px 0;
    margin: 0 10px;
    position: relative;
    span {
        font-size: 15px;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background-color: var(--color-primary);
        opacity: 0;
        border-radius: 4px;
        transition: .3s;
    }
    &.nuxt-link-exact-active {
        &:after {
            width: 50%;
            opacity: 1;
        }
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        &:after {
            width: 80%;
            opacity: .7;
        }
    }
}
.header-logo {
    max-height: 80px;
    height: 100%;
    img {
        height: 100%;
    }
}