@import "./tools/vars";
@import "./tools/fonts";
@import "header";

.color-success {
    color: green;
}
.color-danger {
    color: red;
}

body, span, p, label, button{
    font-family: 'Lato-Regular'; 
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 4px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: linear-gradient(90deg, #E6B300 0%, #F19202 100%);
outline: 1px solid slategrey; border-radius: 10px;
}

.main_text__title{
    font-family:'Lato-Heavy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #353A3C;
}
.main_text__description{
    font-family: 'Lato-Regular';
    font-size: 14px;
    line-height: 17px;
    color: #9EA3A4;
}

ul {
    padding-left: 18px;
}

.custom-control {
    .custom-control-label {
        padding-top: 4px;
        line-height: 16px;
        margin-bottom: 5px;
        cursor: pointer;
    }
}

.custom-radio .custom-control-label::before {
    border-radius: 0;
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent;
    border-color: var(--color-primary);
    outline: none !important;
    box-shadow: none !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    background-color: var(--color-primary);
    width: 12px;
    height: 12px;
    margin-left: 2px;
    margin-top: 2px;
    outline: none !important;
    box-shadow: none !important;
}

.section-graf {
    background: #fbfbfb;
    padding: 10px 14px;
    margin-top: 10px;
    border-radius: 6px;
}