<template>
  <div>
      <!-- <span>{{index}} {{tree.name}}</span> -->
      <nuxt-link :to="tree.link" class="tree-name">
          {{index}} {{tree.name}}
      </nuxt-link>
      <ul v-if="hasList" class="tree-list">
          <li>
            <v-tree v-for="(item, i) in tree.list" :key="i" :tree="item" :index="`${index}${i+1}.`" />
          </li>
      </ul>
  </div>
</template>

<script>
export default {
    components: {
        VTree: () => import("@/components/tree")
    },
    props: {
        tree: {
            type: Object,
            default: () => {}
        },
        index: {
            type: String,
            default: null
        }
    },
    computed: {
        hasList() {
            return this.tree.list && this.tree.list.length > 0
        }
    }
}
</script>