<template>
  <ul class="section-accordion__items">
    <li
      v-for="(item, i) in items"
      :key="i"
      class="section-accordion__item"
      :class="{'active': selectedItemIndex === i}"
      @click="selectItem(i)"
    >
      <div class="section-accordion__item-title">{{item.title}}</div>
      <div
        v-show="selectedItemIndex === i"
        class="section-accordion__item-content"
        v-html="item.content"
      />
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    selectedItemIndex: null
  }),
  methods: {
    selectItem(i) {
      this.selectedItemIndex = this.selectedItemIndex === i ? null : i;
    }
  }
};
</script>

