// Section accordion
.section-accordion {
    &__items {
        padding: 0;
        margin: 0;
        list-style-type: none;
        &-wrapper {
            margin-top: 30px;
        }
    }
    &__item {
        background-color: #fff;
        // color: #fff;
        padding: 0 40px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        &-title {
            padding: 15px 0;
            position: relative;
            cursor: pointer;
            font-size: 16px;
            &:before {
                content: '+';
                display: block;
                position: absolute;
                top: 50%;
                left: -30px;
                font-size: 20px;
                font-weight: bold;
                transform: translateY(-50%);
            }
        }
        &.active {
            .section-accordion__item-title:before {
                content: '-';
            }
        }
        &-content {
            padding-bottom: 15px;
        }
    }
}