<template>
  <div>
    <VHeader ref="header"/>

    <v-main-layout class="pt-4" :style="{marginTop: `${headerHeight}px`}" v-show="headerHeight">
      <transition name="fade">
        <Nuxt  />
      </transition>
    </v-main-layout>

    <transition name="preloader">
      <v-preloader v-show="appLoading" />
    </transition>
  </div>
</template>

<script>
import VHeader from "@/components/header"
import VPreloader from "@/components/preloader"
 
// Layout
import VMainLayout from '@/layouts/main'
export default {
  components: {
    VPreloader,
    VHeader,
    VMainLayout
  },
  data: () => ({
    headerHeight: '',
    appLoading: true
  }),
  methods: {
    getHeaderHeight() {
      this.headerHeight = this.$refs.header && this.$refs.header.$el && this.$refs.header.$el.offsetHeight
    }
  },
  mounted() {
    setTimeout(() => {
      this.getHeaderHeight()
      this.appLoading = false
    }, 0)
  }
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.preloader-enter-active,
.preloader-leave-active {
  transition-duration: 0.7s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.preloader-enter,
.preloader-leave-active {
  opacity: 0
}
</style>