<template>
  <div class="mb-3">
    <b-container>
        <b-row>
            <b-col cols="4" class="pr-0">
                <b-card>
                    <v-selects />
                </b-card>
                <b-card class="mt-3">
                    <v-exchangers-list />
                </b-card>
                <b-card class="mt-3">
                    <v-pop-destinations />
                </b-card>
            </b-col>
            <b-col cols="8">
                <slot />
            </b-col>
        </b-row>
    </b-container>
  </div>    
</template>

<script>
import VSelects from '@/components/selects'
import VExchangersList from '@/components/exchangers-list'
import VPopDestinations from '@/components/pop-destinations'
export default {
    components: {
        VSelects,
        VExchangersList,
        VPopDestinations
    }
}
</script>