<template>
    <b-card>
        <b-row>
            <b-col>
                <h2 class="main_text__title">Список всех обменных пунктов</h2>
                <p class="main_text__description mt-1">
                    В списке ниже представлен полный листинг надежных обменных пунктов, которые участвуют в рейтинге мониторинга обменников BestChange.ru. Все представленные здесь обменники прошли проверку нашим администратором.
                    Чтобы увидеть обменные пункты, работающие с каким-либо конкретным направлением, выберите на панели слева из списка валют, какую валюту вы хотите продать, а какую купить.
                    Как добавить обменник? – информация для владельцев обменников, желающих добавить свой обменный пункт в рейтинг BestChange.ru.
                </p>
            </b-col>
        </b-row>

        <b-row class="mt-4">
            <b-col>
                <v-tabs>
                    <v-tab name="Обменные пункты" active>
                        <v-table class="mt-3" :items="convertTable" />
                    </v-tab>

                    <v-tab name="Статистика" class="mt-3 section-graf">
                        <div>
                            <div class="d-flex">
                                <div class="d-flex align-items-center">
                                    <span>График</span>
                                    <v-multiselect 
                                        class="ml-3"
                                        v-model="selectGraf.value"
                                        :options="selectGraf.options"
                                        placeholder
                                        :multiple="false"
                                        :searchable="false"
                                        :show-labels="false" />
                                    <span class="ml-3">за</span>
                                    <v-multiselect 
                                        class="ml-3"
                                        v-model="selectTime.value"
                                        :options="selectTime.options"
                                        placeholder
                                        :multiple="false"
                                        :searchable="false"
                                        :show-labels="false" />
                                    <!-- <b-button block class="selects_searching__button ml-3">Показать</b-button> -->
                                    <b-button variant="dark" class="ml-3">Показать</b-button>

                                    <b-dropdown id="dropdown-left" text="Тип" class="m-2">
                                        <b-dropdown-item @click="selectedTypeChart = 'bar'">Гистограмма</b-dropdown-item>
                                        <b-dropdown-item @click="selectedTypeChart = 'line'">Линейная</b-dropdown-item>
                                        <b-dropdown-item @click="selectedTypeChart = 'pie'">Круговая</b-dropdown-item>
                                    </b-dropdown>
                                </div>
                            </div>

                            <no-ssr>
                                <v-bar v-if="selectedTypeChart === 'bar'" />
                                <v-line v-if="selectedTypeChart === 'line'" />
                                <v-pie v-if="selectedTypeChart === 'pie'" />
                            </no-ssr>
                        </div>
                    </v-tab>
                </v-tabs>
            </b-col>
        </b-row>
    </b-card>
</template>

<script>
// Static data
import { table } from '@/data/exchangersPage'

// Helpers
import { convertExchangersTable } from '@/helpers/convert/table'

// Components
import VMultiselect from 'vue-multiselect'
import VTable from '@/components/table'
import { Tab as VTab, Tabs as VTabs } from '@/components/tabs'
import { Bar as VBar, Pie as VPie, Line as VLine } from '@/components/charts'

export default {
    components: {
        VMultiselect,
        VTable,
        VTab,
        VTabs,
        VBar,
        VPie,
        VLine
    },
    data: () => ({
        table: null,
        selectGraf: {
            value: 'популярных обменников',
            options: [
                'популярных обменников',
                'объема резервов по национальным валютам',
                'объема резервов по электронным валютам',
                'объема резервов по платежным системам'
            ],
        },
        selectTime: {
            value: '1 час',
            options: [
                '1 час',
                '6 часов',
                '12 часов',
                '24 часа',
                '2 недели'
            ]
        },
        selectedTypeChart: 'bar'
    }),
    computed: {
        convertTable() {
            return convertExchangersTable(this.table)
        },
    },
    created() {
        this.table = table
    }
}
</script>