<template>
    <b-card>
        <h2 class="main_text__title mb-3">Ответы на часто задаваемые вопросы</h2>
        <v-accordion :items="accordionList" />
    </b-card>
</template>

<script>

// Components
import VAccordion from "@/components/accordion"

export default {
    components: {
        VAccordion
    },
    data: () => ({
        accordionList: [
            {
                title: 'Для чего нужен ваш сайт?',
                content: 'BestChange — это бесплатный Интернет-сервис, помогающий находить обменные пункты с наиболее выгодными обменными курсами. Подробнее читайте в разделах О сайте и Инструкция.'
            }, {
                title: 'Как давно работает BestChange?',
                content: 'Мониторинг обменников BestChange был запущен в работу 13 лет назад (19 июня 2007) и развивается непрерывно по сей день.'
            }
        ]
    })
}
</script>

<style>

</style>