<template>
  <b-card>
    <h1 class="main_text__title">Содержание</h1>
    <div class="mb-4">
      <v-tree v-for="(item, index) in tree" :key="index" :tree="item" :index="`${index+1}.`" />
    </div>

    <section :id="aboutSection.anchorID">
      <h2 class="main_text__title" v-html="aboutSection.title"></h2>
      <p class="main_text__description">
        Bex – это бесплатный онлайн-сервис для поиска пунктов обмена электронных денег, интернет-банкинга и денежных переводов. В BestChange зарегистрированы более 100 обменников, от каждого из которых сервис оперативно получает информацию о курсе валют и размере комиссий.
      </p>
      <v-video-responsive src="https://www.youtube.com/embed/Y14djZJ5uvM?rel=0" class="mb-3" />
      <p class="main_text__description">
        Смотрите также другие видео-ролики о проекте BestChange от наших пользователей на <a target="_blank" href="https://www.youtube.com/results?search_query=bestchange">YouTube</a>.
      </p>
    </section>

    <section :id="exchangeSection.anchorID">
      <h2 class="main_text__title" v-html="exchangeSection.title"></h2>
      <p class="main_text__description"> 
        В системе BestChange обмен электронных денег выполняется за 5 простых шагов:
      </p>
      <ul>
        <li>Выберите исходную и целевую валюты</li>
        <li>Рассчитайте итоговую сумму и просмотрите статистику</li>
        <li>Выберите обменник</li>
        <li>Перейдите на сайт обменника для конвертации</li>
        <li>Оставьте отзыв о работе обменника (по желанию)</li>
      </ul>
    </section>

    <section :id="alertsSection.anchorID">
      <h2 class="main_text__title" v-html="alertsSection.title"></h2>
      <p class="main_text__description"> 
        Если найти обменник с подходящими условиями не удалось, вы можете подписаться на оповещения, и система BestChange автоматически уведомит вас о появлении подходящего обменника. Для этого выберите вкладку Оповещения, где находится форма подачи заявки (рис. 11).
      </p>
    </section>
  </b-card>
</template>

<script>
import {tree, aboutSection, exchangeSection, alertsSection, supportSection} from '@/data/helpPage'

import VTree from '@/components/tree'
import VVideoResponsive from "@/components/video-responsive"
export default {
  components: {
    VTree,
    VVideoResponsive
  },
  data: () => ({
    tree,
    aboutSection,
    exchangeSection,
    alertsSection,
    supportSection
  })
}
</script>