<template>
  <b-card>
    <b-row>
      <b-col>
        <h2 class="main_text__title">Мониторинг обменных пунктов BestChange</h2>
        <p
          class="main_text__description mt-1"
        >Наш мониторинг обменных пунктов поможет вам легко обменивать электронные деньги в сети интернет с минимальными затратами на комиссиях обменных пунктов. Чтобы подробнее ознакомиться с нашим сервисом посмотрите обзорное видео.</p>
      </b-col>
      <b-col>
        <h2 class="main_text__title">Выгодные обменные курсы</h2>
        <p
          class="main_text__description mt-1"
        >Ниже в таблице вам предлагаются лучшие курсы обмена по 20-ти популярным направлениям. Для просмотра всего списка обменников по какому-нибудь определенному направлению, выберите нужную вам валютную пару на панели слева.</p>
      </b-col>
    </b-row>

    <b-row class="mt-4">
      <b-col>
        <v-tabs>
          <v-tab name="Курсы обмена" active>
            <v-table class="mt-3" :items="convertTable" />
          </v-tab>

          <v-tab name="Калькулятор">
            <!-- <v-tab-products /> -->
          </v-tab>

          <v-tab name="Оповещение">
            <!-- <v-tab-projects /> -->
          </v-tab>

          <v-tab name="Двойной обмен">
            <!-- <v-tab-vendors /> -->
          </v-tab>
        </v-tabs>
      </b-col>
    </b-row>

    <b-row class="mt-4">
      <b-col>
        <h2 class="main_text__title">Более подробно о мониторинге обменников</h2>
        <p
          class="main_text__description mt-1"
          text-justify
        >На BestChange.ru собрана и структурирована информация об автоматических и ручных обменниках крипто- и электронных валют. Информация предоставлена в виде графиков и таблиц, которые отображают данные по курсам и резервам сайтов-обменников. Сведения об электронных обменных пунктах непрерывно обновляются, через каждые 5-8 секунд. Высокая скорость обновления позволяет гарантировать наличие самых свежих обменных курсов, что намного упрощает выбор надежного обменного пункта с лучшим курсом.</p>
        <p
          class="main_text__description"
          text-justify
        >BestChange.ru был разработан специально для удобного поиска подходящего обменника. В интерфейсе нашего мониторинга обменных пунктов реализовано несколько вариантов подбора валютной пары – табличный вариант, выпадающие списки и популярные направления, вы можете использовать наиболее удобный для вас. Например, с помощью таблицы выбора направления вы можете двумя кликами найти необходимую пару валют. Для сравнения: при использовании выпадающих списков – потребуется 4 клика, а при использовании "популярных направлений" будет необходим всего 1 клик.</p>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
// Static data
import { table } from '@/data/indexPage'

// Helpers
import { convertIndexTable } from '@/helpers/convert/table'

// Components
import VTable from '@/components/table'
import { Tab as VTab, Tabs as VTabs } from '@/components/tabs'

export default {
  components: {
    VTable,
    VTab,
    VTabs,
  },
  data: () => ({
    table: null,
  }),
  computed: {
    convertTable() {
      return convertIndexTable(this.table)
    },
  },
  created() {
    this.table = table
  },
}
</script>

